<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id = "p_x">x</div>
<div id = "p_y">y</div>
<button onclick="showDialog()"> click</button>
<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
    var x = document.getElementById("p_x");

    function showDialog()
    {
        x.show();
    }
    /* $("#p_x").hide()

     function display(){

         $("#p_x").show()
         $("#p_y").hide()
    }*/
</script>
</body>
</html>