<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"  type="text/css" href="css/base.css" />
<link rel="stylesheet"  type="text/css" href="css/all.css" />
<title></title>
</head>
<body>
<div class="main">
  <div class="clearfix">
    <!---->
    <div class="m_box f_l">
      <div class="m_tit">当日订单统计</div>
      <div class="cir_b" data-role="cir">
        <div class="pb_dash f0">276.32</div>
        <div class="cir_txt">
          <p>订单核销数量占比</p>
          <p class="f_num"><span class="c_num" data-role="d_num">50.5</span><em class="c_per">%</em></p>
        </div>
        <svg class="to_svg"  viewBox="0 0 100 100" preserveAspectRatio="none">
		  <circle stroke-dasharray="276.32 276.32" cx="50" cy="50" r="44" stroke="#061b3c"  fill="none"/>
		  <circle class="n_circle" stroke-dasharray="0 276.32" cx="50" cy="50" r="44" stroke="#3399ff"  fill="none"/>
		</svg>
      </div>
      <div class="today_num">
        <p class="mui_flex p_b30"><span class="cell"><label class="c_green f24">当天订单数</label><em class="d_p_b c_num p_t10">646</em></span><span class="cell"><label class="c_blue f24">当天入园数</label><em class="d_p_b c_num p_t10">656</em></span></p>
        <p class="p_t30"><label class="c_yellow f24">2018年订单数</label><em class="d_p_b c_num p_t10">6546</em></p>
      </div>
    </div>
    <!---->
    <div class="m_box f_r">
      <div class="m_tit">景区入园人数上限预警</div>
      <div class="park_num">
        <ul class="mui_flex">
          <li class="cell"><label class="c_green f24">已验证入园人数</label><em class="d_p_b c_num p_t10">365</em></li>
          <li class="cell"><label class="c_blue f24">当天订单数</label><em class="d_p_b c_num p_t10">656</em></li>
          <li class="cell"><label class="c_yellow f24">当天入园人数上限</label><em class="d_p_b c_num p_t10">2341</em></li>
        </ul>
      </div>
      <div class="bar_b">
        <div class="a_bar"><span class="bar_ex"><i class="icon20 c_arrow"></i><em class="d_p_b c_yellow">当天入园</em><em class="d_p_b c_yellow">人数上限</em></span></div>
        <div class="b_bar" style="width:70%;"><span class="bar_ex"><i class="icon20 b_arrow"></i><em class="d_p_b c_blue">当天订单数</em></span></div>
        <div class="c_bar" style="width:50%;"><span class="bar_ex"><i class="icon20 a_arrow"></i><em class="d_p_b c_green">已验证</em><em class="d_p_b c_green">入园人数</em></span></div>
      </div>
    </div>
    <!---->
  </div>
  <div class="clearfix p_t30">
    <div class="ewm_b c_box">
      <div class="c_lt"></div>
      <div class="c_rt"></div>
      <div class="c_lb"></div>
      <div class="c_rb"></div>
      <div class="t_c p_t10"><img src="images/ewm.png"></div>
      <div class="t_c p_t20 f30">
        <p class="c_green">手机扫描二维码</p>
        <p class="c_green">关注公众号</p>
      </div>
    </div>
    <div class="t_list c_box">
      <div class="c_lt"></div>
      <div class="c_rt"></div>
      <div class="c_lb"></div>
      <div class="c_rb"></div>
      <table class="table_list f20">
        <thead>
          <tr>
            <th width="10%">订单号</th>
            <th width="16%">门票类型</th>
            <th width="10%" class="t_c">游客姓名</th>
            <th width="10%">手机号</th>
            <th width="15%">身份证号</th>
            <th width="8%" class="t_c">购票数量</th>
            <th width="10%" class="t_c">入园方式</th>
            <th width="10%" class="t_c">下单时间</th>
            <th width="8%" class="t_c">订单状态</th>
          </tr>
        </thead>
      </table>
      <!---->
      <div class="m_panel swiper-container" id="m_panel">
        <div class="scroll_con swiper-wrapper">
          <div class="swiper-slide">
            <table class="table_list f20">
              <tbody id="tbody-result">
              </tbody>
            </table>
          </div>
        </div>
        <div class="scroll_bar swiper-scrollbar"></div>
      </div>
      <!---->
    </div>
  </div>
</div>
<!---->
<div class="cover_b"></div>
<div class="alert_b">
  <div class="user_b"><img src="images/mm.jpg"></div>
  <div class="pass"><img src="images/yztg.png"></div>
  <div class="u_info f24">
    <p><label class="c_blue">订单编号</label>70923472634012938</p>
    <p><label class="c_blue">订单状态</label><span class="c_yellow">已确认</span></p>
    <p><label class="c_blue">旅客姓名</label>七十二小时</p>
    <p><label class="c_blue">手机号</label>13987654321</p>
    <p><label class="c_blue">身份证号</label>460123456789012345</p>
    <p><label class="c_blue">购买数量</label>3张 电影公社成人票【含1942民国街+南洋街】</p>
    <p><label class="c_blue">入园凭证</label>人脸识别</p>
    <p><label class="c_blue">验证日期</label>2018-03-12</p>
    <p><label class="c_blue">下单时间</label>2018-03-12  08:34</p>
  </div>
</div>
<!---->
<script type="text/javascript" src="js/jquery-2.2.0.min.js"></script> 
<script type="text/javascript" src="js/swiper.min.js"></script> 
<script>
  var apiServer = 'http://localhost:8080/wechat'
  function intToDate(date) {
      var jsonDate=new Date(date*1000);
      var year= jsonDate.getFullYear();
      var month= jsonDate.getMonth() + 1;
      var date= jsonDate.getDate();
      return  year + "-" + month + "-" + date;
  }
$(function(){ 	
	  $('[data-role="cir"]').each(function(){
		 var loginDash = $(this).find(".pb_dash").text();
		 var loginData = $(this).find('[data-role="d_num"]').text();
		 var loginPer = loginDash * loginData/100;
		 $(this).find(".n_circle").attr("stroke-dasharray",loginPer+" "+loginDash);
	   });

   //
		 var swiper = new Swiper('#m_panel', {
			scrollbar: '.swiper-scrollbar',
			scrollbarHide: true,
			scrollbarDraggable : true ,
			direction: 'vertical',
			slidesPerView: 'auto',
			mousewheelControl: true,
			freeMode: true,
			roundLengths : true //防止文字模糊
		});
    var tbody = window.document.getElementById("tbody-result");
    $.ajax({
          url:apiServer+'/greeting',
          type:'get',
          success:function (res) {
              console.log(res.message)
              if(res.message == 1){
                  $(".cover_b").fadeIn();
                  $(".alert_b").fadeIn()
                  setTimeout(function(){
                      $(".cover_b").fadeOut();
                      $(".alert_b").fadeOut();
                  },3000)
                  $.ajax({
                      url:apiServer+'/page',
                      type:'get',
                      success:function (res) {
                          console.log(res)
                          if(res.errorCode == 'E_000'){
                              var str = "";
                              var data = res.body;

                              for (i in data) {
                                  var date = intToDate(data[i].createDate)
                                  str += "<tr>" +
                                      "<td width=\"10%\">" + data[i].id + "</td>" +
                                      "<td width=\"16%\">" + data[i].ticketName + "</td>" +
                                      "<td width=\"10%\">" + data[i].name + "</td>" +
                                      "<td width=\"10%\">" + data[i].mobilePhoneNumber + "</td>" +
                                      "<td width=\"15%\">" + data[i].papersNumber + "</td>" +
                                      "<td width=\"8%\">" + data[i].ticketCount + "</td>" +
                                      "<td width=\"10%\">" + data[i].recognitionType + "</td>" +
                                      "<td width=\"10%\">" + date + "</td>" +
                                      "<td width=\"8%\">" + data[i].orderStatus + "</td>" +
                                      "</tr>";
                              }
                              tbody.innerHTML = str;
                          }
                      }
                  })
              }else{

              }
          }
      })

});
</script>
</body>
</html>
