<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no, email=no" />
<link rel="stylesheet"  type="text/css" href="weixin/css/base.css" />
<link rel="stylesheet"  type="text/css" href="weixin/css/all.css" />
<link rel="stylesheet"  type="text/css" href="weixin/css/swiper.css" />
<title></title>
</head>
<body>
<div class="main">
  <div class="cell over_auto">
    <div class="p10">
      <div class="b_box w_bg">
        <div class="d_tit f16">码号：8323487342</div>
        <div class="ewm_b p10"><img src="weixin/images/ewm.jpg"></div>
        <div class="cut_line"></div>
        <div class="p10">
          <p class="mui_flex"><label class="item_label">预订人姓名</label><span class="cell p_l20">七十二小时</span></p>
          <p class="mui_flex m_t10"><label class="item_label">手机号</label><span class="cell p_l20">13987654321</span></p>
          <p class="mui_flex m_t10"><label class="item_label">订单编号</label><span class="cell p_l20">460123456789012345</span></p>
          <p class="mui_flex m_t10"><label class="item_label">购票总数</label><span class="cell p_l20">3张（可用 0 张）</span></p>
          <p class="mui_flex m_t10"><label class="item_label">有效期</label><span class="cell p_l20">2018-03-12 至 2018-03-18</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/swiper.min.js"></script> 
</body>
</html>
