<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.eking.tourism.repository.mapper.QrCodeMapper">
  <resultMap id="BaseResultMap" type="org.eking.tourism.repository.entity.QrCode">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NO" jdbcType="VARCHAR" property="no" />
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="TICKET_ORDER_ID" jdbcType="VARCHAR" property="ticketOrderId" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="QR_CODE_PHOTO_PATH" jdbcType="VARCHAR" property="qrCodePhotoPath" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NO, UUID, TICKET_ORDER_ID, CREATE_DATE, QR_CODE_PHOTO_PATH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_tourism_qr_code
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_tourism_qr_code
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.eking.tourism.repository.entity.QrCode">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_tourism_qr_code (ID, NO, UUID, 
      TICKET_ORDER_ID, CREATE_DATE, QR_CODE_PHOTO_PATH
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, 
      #{ticketOrderId,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{qrCodePhotoPath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.eking.tourism.repository.entity.QrCode">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_tourism_qr_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="no != null">
        NO,
      </if>
      <if test="uuid != null">
        UUID,
      </if>
      <if test="ticketOrderId != null">
        TICKET_ORDER_ID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="qrCodePhotoPath != null">
        QR_CODE_PHOTO_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrderId != null">
        #{ticketOrderId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="qrCodePhotoPath != null">
        #{qrCodePhotoPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.eking.tourism.repository.entity.QrCode">
    update t_tourism_qr_code
    <set>
      <if test="no != null">
        NO = #{no,jdbcType=VARCHAR},
      </if>
      <if test="uuid != null">
        UUID = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="ticketOrderId != null">
        TICKET_ORDER_ID = #{ticketOrderId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="qrCodePhotoPath != null">
        QR_CODE_PHOTO_PATH = #{qrCodePhotoPath,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.eking.tourism.repository.entity.QrCode">
    update t_tourism_qr_code
    set NO = #{no,jdbcType=VARCHAR},
      UUID = #{uuid,jdbcType=VARCHAR},
      TICKET_ORDER_ID = #{ticketOrderId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      QR_CODE_PHOTO_PATH = #{qrCodePhotoPath,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>